<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.mapper.AdminMapper">

    <insert id="add">
        insert into admin(id,username, password,role, name)
        values(#{id},#{username},#{password}, #{role}, #{name})
    </insert>


    <update id="updataById">
        UPDATE admin
        SET name = #{name}, username = #{username},password = #{password},role = #{role},
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM admin
        WHERE id = #{id}
    </delete>


    <!--    这里的id和 mapper接口的方法名一一对应    resultType 对应返回数据-->
<!--                 动态模糊查询-->
<!--                name like concat('%',#{name},'%')-->
    <select id="selectAll" resultType="com.example.springboot.entity.Admin">
        select * from admin
        <where>
            <!-- 使用 admin.name 表示从参数对象中取值 -->
            <if test="admin.name != null">
                name like concat('%', #{admin.name}, '%')
            </if>
        </where>
        order by id asc
    </select>


    <select id="selectById" resultType="com.example.springboot.entity.Admin">
        select * from admin where id = #{id}
    </select>
</mapper>
<!--xml 与mapper 一一对应 -->